@use "../abstracts/functions" as *;
@use "../components/passBar";
@use "../components/range";
@use "../components/checkboxes";
@use "../components/passState";
@use "../components/genPass";
.passgen-wrapper {
  user-select: none;
  width: 95%;
  max-width: rem(400);
  height: auto;
  border-radius: rem(10);
  overflow: hidden;
  background-color: var(--dark-color);
  .bottom {
    width: 100%;
    height: 100%;
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(20);
  }
}
